[Unit]
Description=FastAPI Photo Server
After=network.target

[Service]
User=vnannapu
WorkingDirectory=/home/vnannapu/photo-server
ExecStart=/home/vnannapu/.local/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target